h1 {
    font-family: Verdana;
    font-size: 3rem;
    line-height: 4.5rem;
    margin: 0px 0px 1.5rem;
    display: block;
    color: transparent;
    -webkit-text-stroke: 2px #666;
    overflow-wrap: break-word;
    word-break: normal;
}