<?xml version="1.0" encoding="UTF-8"?>
<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL -->

<configuration debug="false">
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- Method 2 -->
	<appender name="JSON" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
        <file>${LOG_FILE}.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerInfo>true</includeCallerInfo>
            <customFields>{"appname":"api-gateway","version":"1.0"}</customFields>
        </encoder>
    </appender>

    <!-- Method 3 -->
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>logstash:5000</destination>
      <!-- encoder is required -->
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  	</appender>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<!-- Method 1-->
		<appender-ref ref="FILE" />
		<!-- Method 2 -->
		<appender-ref ref="JSON" />
	</root>

    <logger name="com.mudigal" level="DEBUG">
    	 <appender-ref ref="STASH"/>
    </logger>
    <logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

</configuration>