<section>
	<div class="wrapper">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
			<ul class="nav nav-tabs nav-justified">
				<li id="service-one"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="one()">One</a></li>
				<li id="service-two"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="two()">Two</a></li>
				<li id="service-three"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="three()">Three</a></li>
			</ul>
			<div data-ng-show="response == null && error == null">
			    <h3 style="text-align: center; margin-top: 200px; color: grey">
			    		Welcome to Microservices Sample!!
			    </h3>
			    <div style="text-align:center; font-family:roboto; font-size: 15px; margin-top: 20px; color: grey">
			    		Click on the the one, two or three to get the<br/>
			    		response from the respective microservice.
			    </div>
			</div>
			<div data-ng-show="response != null">
				<h3 style="text-align: center; margin-top: 200px; color: grey">
					{{response.originalName}} : {{response.originalValue}}</h3>
				<div style="margin-top: 25px;">
					<div style="text-align: center; margin-top: 5px; color: #ff9800"
						data-ng-repeat="(name, value) in response.remainingNameValuePair">
						{{name}} : {{value}}
					</div>
				</div>
			</div>
			<div data-ng-show="error != null">
			    <h3 style="text-align: center; margin-top: 200px; color: grey">
					{{error}}</h3>
			</div>
		</div>
	</div>
</section>
