<section>
	<div class="wrapper">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
			<ul class="nav nav-tabs nav-justified">
				<li id="service-one"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="one()">One</a></li>
				<li id="service-two"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="two()">Two</a></li>
				<li id="service-three"><a data-toggle="tab"
					href="javascript:void(0)" data-ng-click="three()">Three</a></li>
			</ul>
			<h3 style="text-align: center; margin-top: 200px; color: grey">
				{{response}}</h3>
		</div>
	</div>
</section>
