<!--Fixed Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/']">
        <i class="fa fa-cubes fa-2" aria-hidden="true"></i> Microservices Sample
      </a>
    </div>
  </div>
</nav>
